<!doctype html>
<html>
<head lang="ko">
<meta charset="euc-kr">
<title></title>
<link rel="stylesheet" href="../../css/jquery-ui.min.css">
<link rel="stylesheet" href="../../js/bootstrap-3.3.4-dist/css/bootstrap.min.css">
<script src="../../js/jquery.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script src="../../js/angular-1.2.9/angular.min.js"></script>
<script src="../../js/jquery-angularjs-hr-0.1.1.js"></script>
<style>
.form-control {width:200px;}
.div_test {margin-top:20px}
body {margin:10px;}
</style>
<script>
$(function(){
	//Angluar Modual Scope Setting ( 주의 : 설정 범위가 겹치도록 중복설정시 에러, 중복 설정시 각 범위는 겹치지 않게 처리 )
	$(document.body).hrAngularJs();
});
</script>
</head>
<body>
<h3><a href="sample.html" target="_blank">Sample.html</a></h3>

<div class="div_test">
	Example 1 - Jquery Datepicker 연동테스트 ( 인자값:데이터포멧형태 ) <br />
	Example 1 ngModel 연동결과 : {{Example_1}}
	<input type="text" class="form-control" hr-jq-datepicker="yy-mm-dd" ng-model="Example_1" /> 
</div>

<div class="div_test">
	Example 2 - Jquery Datepicker 연동테스트 ( 인자값:Jquery Option Object형태 ) <br />
	Example 2 Jquery함수실행결과 : <span id="Example_2"></span>
	<input type="text" class="form-control" hr-jq-datepicker="{
		dateFormat:'yy/mm/dd',
		onSelect:function(date){ 
			$('#Example_2').html(date); 
		}
	}" />
</div>

<div class="div_test">
	Example 3 - Jquery Val 함수 ngModel 연동테스트 <br />
	Example 3 ngModel 연동결과 : {{Example_3}}
	<input type="text" class="form-control" id="Example_3" ng-model="Example_3" />
	<input type="button" onclick="$('#Example_3').val('Success');" value="Example_3 Test"/>
</div>

<script src="../../js/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
</body>
</html>